.site-navigation {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -10;
}

[class*=site-navigation__half] {
  @extend %vertical-align-parent;
  background-color: $grey-dark;
  height: 100vh;
  position: absolute;
  top: 0;
  width: 50vw;
}
.site-navigation__half {
  &--left {
    left: -51vw;
    text-align: right;

    .navigation-item, {
      border-radius: 8em 0 0 8em;
    }
  }

  &--right {
    right: -51vw;
    text-align: left;

    .navigation-item, {
      border-radius: 0 8em 8em 0;
    }
  }
}

.navigation-item {
  @extend %vertical-align;
  background-color: $white;
  display: inline-block;
  height: 16em;
  overflow: hidden;
  padding: 0 2em;
  position: relative;
  width: 8em;

  &::before {
    background: $orange;
    bottom: 0;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 100%;
    transition: .25s;
  }

  &:hover::before {
    top: 0;
  }
}

.navigation-item__title {
  @extend %vertical-align;
  color: $grey-dark;
  display: inline-block;
  font-family: $font-headline;
  font-size: 2em;
  height: 1.5em;
  position: relative;

  .navigation-item &:after {
    background: rgba($orange, 0);
    content: '';
    display: block;
    height: .0625em;
    position: absolute;
    top: 85%;
    transition: .2s;
    width: .75em;
  }

  .navigation-item.active &:after {
    background: rgba($orange, 1);
  }
}
