.index-block {
  &--about {
    background-color: $white;
    padding: 4em 4em 3em;
    text-align: center;
    position: relative;
    z-index: 10;

    @media(max-width: $break-m) {
      margin-bottom: 0;
      padding: 4em 2em;
    }
  }

  &__intro {
    display: inline-block;
    font-size: 1em;
  }
}

.post-tile {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 20em;
  margin-top: -4em;
  position: relative;

  h2 {
    bottom: 1em;
    color: $cream;
    font-size: 1.75em;
    left: 1.25em;
    margin-bottom: 0;
    position: absolute;
  }
}
