.intro-block {
  padding: 6em 2em;
}

.intro-heading {
  &__wrapper {
    text-align: right;

    @media(max-width: $break-l) {
      font-size: 1.4vw;
    }

    @media(max-width: $break-m) {
      font-size: 2.4vw;
      text-align: center;
    }
  }

  &__line--1,
  &__line--2,
  &__line--3 {
    display: block;
    font-family: $font-headline;
    line-height: 1.1em;
    text-transform: uppercase;
  }

  &__line--1 {
    font-size: 2.5em;
  }

  &__line--2 {
    font-size: 4em;
    margin-bottom: 0;
  }

  &__line--3 {
    font-size: 1.25em;
  }
}

.intro-copy {
  &__main {
    color: $grey-dark;
    font-size: 1.25em;
    font-weight: 800;
  }

  &__wrapper {
    @media(max-width: $break-m) {
      margin: 0 auto;
      max-width: 30em;
      padding-top: 4em;
      text-align: center;
    }
  }
}
