.post-list {
  background-color: $grey-dark;
  border: .125em solid $grey-dark;
  position: relative;
}

.post-body {
  background-color: $cream;
  min-height: 35vh;
  padding: 4em 0;
  position: relative;

  @media(max-width: $break-s) {
    margin-top: 0;
  }
}

.post-header {
  text-align: right;
}
