.post-list {
  background-color: $grey-dark;
  border: .125em solid $grey-dark;
}

.post-body {
  // background-color: $white;
  padding: 4em 0 8em;
  position: relative;
}

.post-header {
  text-align: right;

  &__title {
    font-size: 4em;
    margin-bottom: 0;
  }

  &__tagline {
    display: block;
    font-size: 1.25em;
    letter-spacing: .05em;
    text-transform: uppercase;
  }
}
