<svg viewBox="0 0 120 208" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <title>Joe Dinsdale logo</title>
  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <g id="logo-small-light" stroke-width="16">
      <g transform="translate(14.000000, 12.000000)">
        <path d="M91.7749657,137.992346 C91.8892205,115.06543 73.1582784,91.9396942 46.1830919,92.0236468 C19.2079053,92.1075993 -0.0151937138,111.833036 0.0986447296,138.326653 C0.212483173,164.820271 22.491717,183.877116 45.7249278,183.961042" stroke="#F29A3F" class="jd-logo__d"></path>
        <path d="M91.7755381,0.0599472906 C91.7755381,0.0599472906 92.1255048,104.344812 91.7755381,137.853735 C91.4255715,171.362657 65.4519133,183.947588 45.6811761,183.947587 C29.9840099,183.947586 18.899349,176.362002 10.6524085,167.225353" stroke="#F3F0EE" class="jd-logo__j"></path>
      </g>
    </g>
  </g>
</svg>