.social-links {
  display: block;
  margin: 0 auto;
  padding: .5em .5em;
  text-align: center;
  vertical-align: top;

  li {
    display: inline-block;
    height: 3em;
    margin: 0;
    padding: .25em;
    width: 3em;
  }

  a {
    display: inline-block;
    padding: 0em;
    position: relative;

    &::before {
      background: $cream;
      bottom: 0;
      content: '';
      display: block;
      height: 0;
      left: 0;
      position: absolute;
      right: 0;
      transition: .5s;
    }

    &:hover::before {
      height: 100%;
    }

    .ua-ie & {
      display: block;
    }
  }

  svg {
    display: block;
    height: auto;
    width: 100%;
    position: relative;
  }

  .social-icon {
    fill: $grey-dark;
  }
}
