.post-hero {
  &__wrapper {
    background-position: center;
    background-size: cover;
    color: $cream;
    height: 75vh;
    position: relative;
    text-align: center;

    &::before {
      background: rgba($grey-dark, .75) url('/images/ui/bg-diag-grey.png') top left;
      background-size: 6px;
      bottom: 0;
      content: '';
      display: block;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  &__inner {
    bottom: 25vh;
    left: 0;
    padding-bottom: 2em;
    position: absolute;
    right: 0;
    text-align: left;
  }

  &__title {
    font-size: 4em;
    margin-bottom: 0;
  }

  &__tagline {
    color: $orange;
    display: block;
    font-size: 1.25em;
    letter-spacing: .05em;
    text-transform: uppercase;
  }
}