.post-tile {
  &__wrapper {
    height: 50vh;
    text-align: center;
  }

  &__inner {
    width: 100%
  }

  &__date,
  &__tagline {
    font-size: .75em;
    letter-spacing: .05em;
  }

  &__title {
    line-height: 1em;
    margin-bottom: 0;
  }

  &__tagline {
    display: block;
    max-height: 0;
    overflow: hidden;
    transition: .5s ease-out;

    .post-tile__wrapper:hover & {
      max-height: 1.5em;
    }
  }
}